<h1>Welcome to Blocipedia</h1>
<% if current_user.standard? %>
<%= link_to "Upgrade Account to Premium", new_charge_path, class: "btn btn-success" %>
<% end%>
<% if current_user.premium? %>
<%= link_to "Downgrade Account", charges_downgrade1_path, class: 'btn btn-danger' %>
<% end %>


